@import url('https://fonts.cdnfonts.com/css/inter');
*{
    font-family: 'Inter', sans-serif;
}

.ag-cell {
  overflow: visible !important;
}
.ag-row {
  overflow: visible !important;
  z-index: 1; /* ensures dropdown can be above other rows */
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  /* Track (background of scrollbar) */
  ::-webkit-scrollbar-track {
    background: #1d1c1c;
  }
  
  /* Thumb (the moving part) */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
  }
  
  /* Thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}